@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte-titulo: 'Passion One', 'Cursive';
    --fonte-padrao: 'Sriracha', 'cursive';
}

* {
    margin: 0px;
    padding: 0px
}


header {
    font-size: 1.8em;
    background-color: black;
    color: white;
    padding: 80px;
    margin-bottom: 70px;
    text-align: center;
}

header h1 {
    font-family: var(--fonte-titulo);
}

header p {
    font-size: 0.7em;
}

header  p  a {
    color: white;
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

main {
    font-family: var(--fonte-padrao);
    margin-left: 30px;
}

section#texto {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: normal;
}










footer {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;
}

